version: 2.1

orbs:
  node: circleci/node@5.2.0
  gcp-cli: circleci/gcp-cli@3.1.1
executors:
  pw-jammy-development:
    docker:
      - image: mcr.microsoft.com/playwright:v1.45.1-jammy

jobs:
  lint:
    executor:
      name: pw-jammy-development
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run lint
  build:
    executor:
      name: pw-jammy-development
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Build assets
          command: |
            npm run build
      - persist_to_workspace:
          root: ~/project
          paths:
            - dist

  artifact-deployment:
    executor: gcp-cli/google
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Prepare environment variables for OIDC authentication
          command: |
            echo 'export GOOGLE_PROJECT_ID="moz-fx-data-prot-nonprod-c3a1"' >> "$BASH_ENV"
            echo "export OIDC_WIP_ID=$GCPV2_WORKLOAD_IDENTITY_POOL_ID" >> "$BASH_ENV"
            echo "export OIDC_WIP_PROVIDER_ID=$GCPV2_CIRCLECI_WORKLOAD_IDENTITY_PROVIDER" >> "$BASH_ENV"
            echo "export GOOGLE_PROJECT_NUMBER=$GCPV2_WORKLOAD_IDENTITY_POOL_PROJECT_NUMBER" >> "$BASH_ENV"
            echo "export OIDC_SERVICE_ACCOUNT_EMAIL=$GCP_SERVICE_ACCOUNT_EMAIL" >> "$BASH_ENV"
      - gcp-cli/setup:
          use_oidc: true
      - run:
          name: Upload artifacts
          command: |
            gsutil rsync -r -x "gcpv.*\.json" ~/project/dist gs://moz-fx-data-prot-nonprod-c3a1-protodash/dawg/static

workflows:
  ci:
    jobs:
      - lint
      - build
  deploy:
    jobs:
      - build
#      - build:
#          filters:
#            branches:
#              only:
#                - main
      - artifact-deployment:
          name: Deploy static website
          context: gcpv2-workload-identity
          requires:
            - build
#          filters:
#            branches:
#              only:
#                - main
