version: 2.1

orbs:
  node: circleci/node@5.2.0

jobs:
  install-node-example:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - node/install:
          node-version: '20.14'
      - run: node --version
workflows:
  test_my_app:
    jobs:
      - install-node-example
