version: 2.1

orbs:
  node: circleci/node@5.2.0

jobs:
  test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npx playwright test
workflows:
  test_my_app:
    jobs:
      - test
